div#main {
}

div.expedio-search > input {
	width: 90%;
	margin: 0 auto;
}

.button {
	-webkit-transition: color .2s;
}

.button:hover{
	cursor: pointer;
	color: green;
}

.button-search {
	font-size: 150%;
}

body {
	height: 90%;
	font-family: Helvetica;
}

div.expedio-hotels {
	height: 100%;
	margin: 1rem;
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-align-items: center;
}

div.expedio-hotels > div#map {
	display: -webkit-flex;
	-webkit-flex: 2;
	height: 100%;
	width: 100%;
}

div.expedio-hotels > div.expedio-hotels_list {
	-webkit-flex: 1;
	overflow: scroll;
	height: 100%;
}

div.expedio-hotel {
	padding: 1rem;
	border: 1px solid black;
}
